@using BSWeather.Extensions
@using BSWeather.Models
@{
    ViewBag.Title = "Home Page";
    WeatherInstance = ViewBag.Weather;
    Days = ViewBag.Days;
}
@functions
{
    public OpenWeatherBase.RootObject WeatherInstance;
    public int Days;
}
@helper WeatherButton(int? id, string name)
{
    @WeatherButton(id, name, null);
}
@helper WeatherButton(int? id, string name, string glyph)
{
string activeParameter = WeatherInstance.City.Id == id ? "active" : string.Empty;
string spanGlyph = glyph != null ? "<span class=\"glyphicon " + glyph + "\" style=\"padding-left: 4px;\"></span>" : string.Empty;
    <a href="@Url.Action("Index", "Home", new { Id = id, Days })" type="button" class="btn btn-default @activeParameter">
        @name@Html.Raw(spanGlyph)
    </a>
}
@helper WeatherEntry(string leftImageUrl, string leftEntry, string rightEntry)
{
    <div class="row">
        <div class="row-height">
            <div class="col-xs-1 col-height col-middle">
                <div class="inside">
                    <div class="content">
                        <img src="@Url.Content(leftImageUrl)" class="list-icon" />@leftEntry
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-height col-middle">
                <div class="inside">
                    <div class="content">
                        @rightEntry
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@helper DaysButton(string title, int days)
{
string activeParameter = Days == days ? "active" : string.Empty;
    <div class="col-md-4">
        <div class="col-md-12 list-group-item">
            <a href="@Url.Action("Index", "Home", new {WeatherInstance.City.Id, Days = days})" type="button" class="btn btn-default btn-block btn-lg @activeParameter">
                @title &raquo;
            </a>
        </div>
    </div>
}

<div class="jumbotron">
    <h1>BSWeather</h1>
    <p class="lead">
        <div class="text-center">
            <div class="btn-group btn-group-lg" role="group">
                @WeatherButton(703448, "Киев")
                @WeatherButton(702550, "Львов")
                @WeatherButton(706483, "Харьков")
                @WeatherButton(709930, "Депропетровск")
                @WeatherButton(698740, "Одесса")
            </div>
        </div>
    </p>
    <p>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    @model CitySearch
                    @using (Html.BeginForm("SearchCityByName", "Home", FormMethod.Post, new { Class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.CityName, new { Class = "form-control input-lg", placeholder = "Название" })
                                @Html.ValidationMessageFor(model => model.CityName)
                                @Html.HiddenFor(model => model.Days, new { Days })
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-default btn-lg btn-block" value="Искать">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </p>
    <div class="row">
        @DaysButton("Погода на сегодня", 1)
        @DaysButton("Погода на три дня", 3)
        @DaysButton("Погода на неделю", 7)
    </div>
    @foreach (var list in WeatherInstance.List)
    {
        <p>
            <ul class="list-group">
                <li class="list-group-item row">
                    <div class="row">
                        <div class="row-height">
                            <div class="col-xs-1 col-height col-middle">
                                <div class="inside">
                                    <div class="content">
                                        <img src="http://openweathermap.org/img/w/@(list.Weather[0].Icon).png" class="list-icon" />@(WeatherInstance.City.Name), @list.Weather[0].Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item row">
                    @WeatherEntry("~/Content/Images/calendar-month.png", "Дата:", list.GetDateTime().ToString("d MMMM yyyy, dddd"))
                </li>
                <li class="list-group-item row">
                    <div class="row">
                        <div class="row-height">
                            <div class="col-xs-1 col-height col-middle">
                                <div class="inside">
                                    <div class="content">
                                        <img src="@Url.Content("~/Content/Images/thermometer.png")" class="list-icon" />Температура:
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 col-height col-middle">
                                <div class="inside">
                                    <div class="content">
                                        <img src="@Url.Content("~/Content/Images/weather-moon-half.png")" class="day-cycle-left-icon" />@(list.Temp.Night)°C
                                        <img src="@Url.Content("~/Content/Images/weather.png")" class="day-cycle-right-icon" />@(list.Temp.Day)°C
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item row">
                    @WeatherEntry("~/Content/Images/counter.png", "Давление:", (list.Pressure) + " мбар")
                </li>
                <li class="list-group-item row">
                    @WeatherEntry("~/Content/Images/water.png", "Влажность:", (list.Humidity) + "%")
                </li>
                <li class="list-group-item row">
                    @WeatherEntry("~/Content/Images/weather-wind.png", "Скорость ветра:", (list.Speed) + " м/с")
                </li>
                <li class="list-group-item row">
                    @WeatherEntry("~/Content/Images/weather-cloud.png", "Облачность:", (list.Clouds) + "%")
                </li>
            </ul>
        </p>
    }
</div>