@using BSWeather.Models
@{
    ViewBag.Title = "Home Page";
    Weather = ViewBag.Weather;
}
@functions
{
    public OpenWeatherBase.RootObject Weather;
}
@helper WeatherButton(int? id, string name)
{
    string activeParameter = Weather.City.Id == id ? "active" : string.Empty;
    <a href="@Url.Action("Index", "Home", new { Id = id })" type="button" class="btn btn-default @activeParameter">
        @name
    </a>
}

<div class="jumbotron">
    <h1>BSWeather</h1>
    <p class="lead">
        <div class="text-center">
            <div class="btn-group btn-group-lg" role="group">
                @WeatherButton(703448, "Киев")
                @WeatherButton(702550, "Львов")
                @WeatherButton(706483, "Харьков")
                @WeatherButton(709930, "Депропетровск")
                @WeatherButton(698740, "Одесса")
                @WeatherButton(null, "Выбрать город")
            </div>
        </div>
    </p>
    <p>
        <ul class="list-group">
            <li class="list-group-item row">
                <div class="col-md-3">
                    <img src="@Url.Content("~/Content/Images/globe-green.png")" class="list-icon" />Город:
                </div>
                <div class="col-md-9">
                    @(Weather.City.Name)
                </div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-3">
                    <img src="@Url.Content("~/Content/Images/thermometer.png")" class="list-icon" />Температура:
                </div>
                <div class="col-md-9">
                    @(Weather.List[0].Temp.Day)°C
                </div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-3">
                    <img src="@Url.Content("~/Content/Images/counter.png")" class="list-icon" />Давление:
                </div>
                <div class="col-md-9">
                    @(Weather.List[0].Pressure) мбар
                </div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-3">
                    <img src="@Url.Content("~/Content/Images/water.png")" class="list-icon" />Влажность:
                </div>
                <div class="col-md-9">
                    @(Weather.List[0].Humidity)%
                </div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-3">
                    <img src="@Url.Content("~/Content/Images/weather-wind.png")" class="list-icon" />Скорость ветра:
                </div>
                <div class="col-md-9">
                    @(Weather.List[0].Speed) м/с
                </div>
            </li>
        </ul>
    </p>

    <div class="row">
        <div class="col-md-4">
            <h2>Погода на сегодня</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Просмотреть &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Погода на три дня</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Просмотреть &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Погода на неделю</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Просмотреть &raquo;</a></p>
        </div>
    </div>
</div>